.App {
  text-align: center;

}

.container {
  border:1px solid#282c34;
  max-width: 700px;
  padding-top: 10px;
  color: white;
  background: linear-gradient(rgba(42, 1, 126, 0.45), rgba(1, 1, 77, 0.432)), url("https://images.template.net/94397/anime-sky-background-gj6zq.jpg");
    
    background-size: cover;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
   
  }

 
.
footer {
  font-size: 12px;
}
