.forecast {
    background-color: rgba(43, 46, 83, 0.425);
    border: 0.5px solid rgba(169, 169, 169, 0.626);
    border-radius: 25px;
    padding-right:5px;
    padding-left: 10px;
    }

.forecast ul {
    line-height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.429);
    border-radius: 50px;
    padding: 30px 5px 20px 2px;
    width: 75px;
    height: 150px;
    background-color: rgba(3, 6, 35, 0.297);
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.374);
}

p {
    margin-left: 10px;
    padding-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding-top: 10px;
}

.line {
    margin: 0 0 15px 0;
    
}

.forecast img {
    width: 75px;
}